                </div>
            </div>

            <footer>
                <div class="container"><div class="footer clearfix mb-0 text-muted">
                    <div class="float-start"><p>{{ .AppData.Footer.Left }}</p></div>
                    <div class="float-end"><p>{{ .AppData.Footer.Right }}</p></div>
                </div></div>
            </footer>
        </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/horizontal-layout.js"></script>
</body>

</html>
