<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .AppData.FullName }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/other.css">
    <link rel="shortcut icon" href="/static/favicon.png" />
    {{ if ne .AppData.BackPage "" }}
    <meta http-equiv="refresh" content="3; url={{ .AppData.BackPage }}">
    {{ end }}
</head>

<body>
    <div id="app">
        <div id="main" class="layout-horizontal">
            <header class="mb-4">
                <div class="header-top">
                    <div class="container">
                        <div class="logo">
                            <a href="/"><i class="fa fa-users"></i> {{ .AppData.FullName }}</a>
                        </div>
                        <div class="header-top-right">
                            <a href="#" class="burger-btn d-block d-xl-none"><i class="fa fa-bars fs-3"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="container">
                        <ul>
                            <li class="menu-item  ">
                                <a href="/" class="menu-link"><i class="fa fa-home"></i><span>Home</span></a>
                            </li>
                        </ul>
                    </div>                    
                </nav>
            </header>

            <div class="content-wrapper container">
                
                <div class="page-heading">
                    <h3><i class="fa fa-pencil"></i> Changes</h3>
                </div>
                <div class="page-content">
                    <section class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="alert alert-{{ .Message.Action }}">
                                        <h4 class="alert-heading">{{ .Message.Title }}</h4>
                                        {{ range .Message.Messages }}
                                        <p>{{ . }}</p>
                                        {{ end }}
                                    </div>
                                    <p>&nbsp;</p>
                                    <p style="padding-left: 10px;">You will be redirected in <span id="timer"></span> seconds.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="container"><div class="footer clearfix mb-0 text-muted">
                    <div class="float-start"><p>{{ .AppData.Footer.Left }}</p></div>
                    <div class="float-end"><p>{{ .AppData.Footer.Right }}</p></div>
                </div></div>
            </footer>
        </div>
    </div>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/horizontal-layout.js"></script>
    {{ if ne .AppData.BackPage "" }}
    <script language="JavaScript" type="text/javascript">
        var second=3;
        function updtimer() {
            if (document.getElementById) {timer.innerHTML=second;}
            if (second==0) {return false;}
            second--;
            setTimeout("updtimer()", 1000);
        }
        updtimer();
    </script>
    {{ end }}
</body>

</html>
