{{template "top.html" .}}
<section class="row">
    <div class="col-12">
    {{ if ne .Record.Id 0 }}
        <div class="card">
            <div class="card-body">
                <p class="card-subtitle">
                    <i class="fa fa-calendar"></i> {{ dateTimeFormat .Record.Datecreated }}, 
                    <i class="fa fa-user"></i> {{ .Record.Fullname }}, 
                    <i class="fa fa-bars"></i> {{ .Record.Category }}
                </p>
                <hr>
                <div class="form-group">
                    <label for="title-vertical">Title</label>
                    <input autocomplete="off" type="text" id="title-vertical" class="form-control" name="title" value="{{ .Record.Name }}" placeholder="Record title">
                </div>
                <div class="form-group">
                    <label for="category-vertical">Category</label>
                    <select autocomplete="off" id="category-vertical" class="form-control" name="category">
                        {{ range .Categories }}
                        <option value={{.Id}} {{ if eq .Id $.Record.CategoryId }}selected{{ end }}>{{.Name}}</option>
                        {{ end }}
                    </select>
                </div>
                <hr>
                <p>Preview</p>
                <div id="record-review">{{ noescape .Record.Preview }}</div>
                <hr>
                <p>Content</p>
                <div id="record-text">{{ noescape .Record.Text }}</div>
                <hr>
                <p>save in development</p>
            </div>
        </div>
    {{ else }}
        <div class="card">
            <div class="card-body">
                <p>Record not found</p>
            </div>
        </div>
    {{ end }}
    </div>
</section>
<link rel="stylesheet" href="/static/css/summernote-lite.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/summernote-lite.min.js"></script>
<script>
    $('#record-review').summernote({
        tabsize: 2,
        height: 120,
        spellCheck: true,
        toolbar: [
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['view', ['codeview']],
        ]
    })
    $('#record-text').summernote({
        tabsize: 2,
        height: 170,
        spellCheck: true,
        toolbar: [
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['view', ['codeview']],
        ]
    })
</script>
{{template "bottom.html" .}}