{{template "top.html" .}}
<section class="row">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-header">
                <h4>Home page content</h4>
            </div>
            <div class="card-body">
                <p>home page content</p>
                {{ if .AppData.UserAuth }}
                <hr>
                <p>content for registered users</p>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        {{ if .AppData.UserAuth }}<div class="row">
            <div class="card">
                <div class="card-body">
                    <img id="userAvatar" width="60px" alt="avatar" src="/media/avatars/{{ .AppData.UserData.Avatar }}"> {{ .AppData.UserData.Fullname }}
                </div>
            </div>
        </div>{{ end }}
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4>Side menu</h4>
                </div>
                <div class="card-body">
                    side menu content
                </div>
            </div>
        </div>
    </div>
</section>
{{template "bottom.html" .}}